[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=Pull Data
Exec=lxterminal --working-directory=/home/thomasbailey/checkout/OneLifeData  --command "/home/thomasbailey/checkout/OneLifeData/pull.sh"
Comment=Pull latest data from server.
Categories=GTK;Utility;TerminalEmulator;